<section id="features">
    <div class="container">
        <header>
            <h2>“Los gatos tienen una absoluta honestidad emocional; los seres humanos, por una razón u otra, pueden ocultar sus sentimientos, pero el gato no.”  <strong>Ernest Hemingway </strong></h2>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                    <section>
                        <a href="#" class="image featured"><img src="https://cataas.com/cat" alt="" /></a>
                        <header>
                            <h3>Entonces, que hacemos aquí?</h3>
                        </header>
                        <p> Aqui compartimos la genialidad de los gatos, sus momento mas tiernos y vergonzosos también. Muestrale a todos que tanto amas a tu felino!</p>
                    </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                    <section>
                        <a href="#" class="image featured"><img src="https://cataas.com/cat/says/hello" alt="" /></a>
                        <header>
                            <h3>Excelente! que podemos compartir?</h3>
                        </header>
                        <p>Datos curiosos, grandes momentos y cosas interesantes sobre gatos.</p>
                    </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                    <section>
                        <a href="#" class="image featured"><img src="https://cataas.com/cat/cute" alt="" /></a>
                        <header>
                            <h3>Inicia sesión y observa la maravilla</h3>
                        </header>
                        <p>Estarás salvando 3 gatitos por cada like :)</p>
                    </section>

            </div>

        </div>
    </div>
</section>